.game {
  width: 800px;
  height: 800px;
  display: flex;
  flex-direction: column;  
  margin: auto;
}

.actions {
  display: flex;
  background-color: turquoise;
  justify-content: space-around;
  padding: 20px;
}

.player {
  display: flex;
  flex-direction: column;  
  text-align: center;
  color: blue;
  background-color: turquoise;
  font-weight: bold;
}