.hand {
  margin-top: 50px;
  margin-bottom: 50px;
}

.hand-horizontal {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
}

.hand-vertical {
  display: flex;
  flex: 1;
  flex-direction: column;
}
