.table {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(3, 33%);
  border: 1px;
  justify-items: center;
  align-items: center;
  background-color: green;
  margin-top: 30px;
}
